.container {
  display: flex;
  justify-content: space-evenly;
}
.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  height: 200px;
  width: 200px;
  border: black 1px solid;
}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
